<h1>Sample App (<%= @title %>)</h1>
<p>
    This is the <%= @title %> page for the 
    <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
    sample application.
</p>

<p>Oh yeah: and you can find me in app/views/users/new.html.erb</p>


