<h1>Sample App (<%= @pg_name %>)</h1>
<p>
    This is the <%= @pg_name %> page for the 
    <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
    sample application.
</p>

<%= link_to 'Sign Up Now!', signup_path, :class => 'signup_button round' %>

<p>Oh yeah: and you can find me in app/views/pages/home.html.erb</p>
